.inverse a {
  color: #00274c;
    text-decoration: underline;
}

.inverse strong {
  color: #00274c;
}

.title-slide {
  background-image: url(titleslide.png);
  background-size: 100%;
}

.inverse code {
  color: #00274c;
}

.title-slide h1 {
  font-size: 55pt;
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
}

.title-slide h2 {
  font-size: 32pt;
  margin-top: 0;
  margin-bottom: .7em;
}

.title-slide h3 {
  margin: .25em;
  color: #fff;
    font-family: Source Sans Pro;
  text-align: right;
}

th {
  color: #00274c;
}

tr:nth-child(even) > td {
  color: #00274c;
}

h2 {
  margin-top: .1em;
}

.smaller-code code {
  font-size: 75%;
}

.smaller-text p {
  font-size: 95%;
}